.control {
  height: 1000px;
  margin-top: -300px;
}

.container-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 13px;
}

.control__camera::before {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  background-color: var(--main-color);
  position: relative;
  left: -40px;
  top: 15px;
}

.control__camera::after {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  background-color: var(--main-color);
  position: relative;
  left: 40px;
  top: -20px;
}

.control-wrapper {
  margin-top: 31px;
  width: 817px;
  height: 434px;
  position: relative;
}

.control__window {
  background-image: url(../images/control/window.jpg);
  background-size: cover;
  height: inherit;

}

.control__black {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.control__play {
  position: absolute;
  top: 35%;
  left: 40%;
}

.control__text {
  margin-top: 100px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  max-width: 681px;
  color: #363636;

}

.control__text::before {
  content: "";
  position: relative;
  left: 45%;
  margin-bottom: 35px;
  display: block;
  width: 55px;
  height: 1px;
  background-color: var(--main-color);
}

.control-form {
  margin-top: 90px;
}

.control-info {
  width: 800px;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.control-form__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.control-form__input {
  display: block;
  width: 231px;
  border: 1px solid rgba(54, 54, 54, 0.3);
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
}

.control-form__button {
  height: 51px;
  width: 200px;
  font-size: 13px;
}

.control-label {
  margin: 39px auto;
  max-width: 300px;
}

.control-label__text {
  margin-left: 8px;
  font-size: 14px;
  color: #181818;
}

@media screen and (max-width: 1024px) {
  .control {
    height: 850px;
    margin-top: -85px;
  }

  .control-wrapper {
    margin-top: 50px;
    width: 600px;
    height: 300px;
  }

  .control__text {
    margin-top: 30px;
  }

  .control__play {
    width: 115px;
    height: 115px;
  }

  .control-info {
    width: 600px;
  }

  .control-form {
    margin-top: 10px;
  }

  .control-form__input {
    width: 100%;
  }

}

@media screen and (max-width: 724px) {
  .control {
    margin-top: -200px;
    background-color: #131313;
  }

  .control__text {
    color: #FFFFFF;
    max-width: 600px;
  }

  .control-form__text {
    color: rgba(255, 255, 255, 0.5);
  }

  .control-form__input {
    background-color: #131313;
    border-bottom: solid #fff 1px;
  }

  .control-form__input::placeholder {
    color: #FFFFFF;
  }

  .control-label__text {
    color: #fff;
  }
}

@media screen and (max-width: 630px) {

  .control-wrapper {
    width: 500px;
    height: 250px;
  }

  .control__title {
    font-size: 22px;
  }

  .control-wrapper {
    max-width: 380px;
    height: 208px;
  }

  .control__play {
    width: 65px;
    height: 65px;
  }

  .control__text {
    font-size: 11px;
    max-width: 350px;
    line-height: 169.8%;
  }

  .control-info {
    max-width: 300px;
    flex-direction: column;
    align-items: center;
  }

  .control-info__item {
    width: 90%;
    margin-top: 65px;
  }

  .control-info__item:last-child {
    margin-top: 150px;
    display: flex;
    justify-content: center;
  }

  .control-label {
    margin-top: -110px;
  }

  .control-form__button {
    width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .control-wrapper {
    max-width: 85%;
    height: 207px;
  }

  .control__text {
    margin-left: 10px;
    margin-right: 10px;
  }
}