.fantasies {
  margin-top: 240px;
  height: 865px;
  background-image: url(../images/fantasies/image.jpg);
  background-size: cover;
}

.fantasies-black {
  height: 865px;
  background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.container-fantasies {
  display: flex;
}

.fantasies-content {
  padding: 137px 77px 97px 99px;
}

.fantasies__title {
  font-style: normal;
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
  margin-bottom: 47px;
}

.fantasies-content__item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  list-style-type: none;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 10px;
}

.fantasies-content__item_active {
  color: #E3B873;
}

.fantasies-content__item:hover {
  color: #E3B873;
}

.fantasies-images {
  display: flex;
  flex-wrap: wrap;
}

.fantasies-images_forSmall {
  display: none;
  height: 500px;
  width: 500px;
  background-size: cover;
  background-position: center;
  transition: background 1s ease;
}

.fantasies-images__item {
  margin: 22px;
  background-size: cover;
  transition: background 1s ease;
}

.fantasies-images__item:nth-child(1) {
  height: 557px;
  width: 354px;
  margin-top: -41px;
}

.fantasies-images__item:nth-child(2) {
  height: 275px;
  width: 354px;
  margin-top: -112px;
}

.fantasies-images__item:nth-child(3) {
  height: 349px;
  width: 354px;
  margin-top: 21px;
}

.fantasies-images__item:nth-child(4) {
  height: 624px;
  width: 354px;
  margin-top: -340px;
}

@media screen and (max-width: 1266px) {
  .fantasies {
    margin-top: 850px;
  }
}

@media screen and (max-width: 1240px) {
  .fantasies {
    margin-top: 700px;
  }

  .fantasies-images_gold {
    margin: 0 13px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container-fantasies {
    flex-direction: column;
  }

  .fantasies-content>ul {
    display: none;
  }

  .fantasies-images {
    display: none;
  }

  .fantasies-images_forSmall {
    display: block;
  }

  .container-fantasies {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

@media screen and (max-width: 915px) {
  .fantasies {
    margin-top: 450px;
  }
}

@media screen and (max-width: 844px) {
  .fantasies {
    margin-top: 650px;
  }
}

@media screen and (max-width: 570px) {
  .fantasies {
    margin-top: 552px;
    background-image: none;
    height: 350px;
  }

  .fantasies-black {
    background: #fff;
    height: 600px;
  }

  .fantasies-content {
    padding: 0;
  }

  .fantasies__title {
    text-align: center;
    max-width: 340px;
    margin-bottom: 25px;
  }

  .fantasies-images_forSmall {
    position: relative;
    height: 242px;
    width: 340px;
    z-index: 1
  }
}