.location {
  background-image: url(../images/loacation/image.jpg);
  background-size: cover;
}

.location-black {
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
  height: 953px;
}

.container-location {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-form {
  position: absolute;
  top: -210px;
  width: 883px;
  height: 445px;
  background: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.location-form-block {
  display: flex;
  justify-content: space-between;
  max-width: 520px;
  width: 100%;
}

.location-form__label {
  display: flex;
  flex-direction: column
}

.location-form__info {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.location-form__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  background-color: #181818;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  width: 231px;
  color: #FFFFFF;
}

.location-form>.location-form__label>input {
  width: 516px;
}

.location-form__input::placeholder {
  color: #FFFFFF;
}

.location-form>.location-form__label:last-of-type {
  flex-direction: row;
}

.location-form__button {
  width: 200px;
  height: 51px;
}

.location-form__title {
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.location__title {
  margin-top: 287px;
  max-width: 590px;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--main-color);
}

.location-social {
  margin-top: 26px;
  margin-bottom: 40px;
  max-width: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 960px) {
  .location-form {
    position: static;
    width: 100%;
  }

  .location-black {
    height: 1115px;
  }

  .location__title {
    margin-top: 50px;
  }

  .location__maps {
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .location-black {
    height: 1159px;
    background: #181818;
  }

  .location-form {
    padding-top: 150px;
    height: 600px;
    z-index: 0;
  }

  .location-form-block {
    height: 120px;
    width: 90%;
    flex-direction: column;
  }

  .location-form__input {
    width: 100%;
  }

  .location-form__label {
    width: 90%;
  }

  .location-form>.location-form__label>input {
    width: 90%;
  }

  .location__maps {
    height: 320px;
    position: relative;
    top: -200px;
  }

  .location__title {
    position: relative;
    top: 350px;
  }

  .location-social {
    position: relative;
    top: 350px;
  }

  .location-form__button {
    width: 90%;
  }
}