.nav {
  background: #131313;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-container {
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav__design {
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--main-color);
}

.nav__link {
  font-size: 11px;
  margin-left: 47px;
  color: #ffffff;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--main-color);
}

.nav__number {
  font-size: 11px;
  color: var(--main-color);
}

.nav__button {
  width: 161px;
  height: 37px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  font-style: italic;
  font-size: 11px;
}

.nav-menu {
  display: flex;
  margin-right: 47px;
  list-style-type: none;
}

@media screen and (max-width: 1062px) {
  .nav-container {
    width: 90%;
  }

  .nav__button {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .nav-menu {
    display: none;
  }

  .nav {
    position: static;
  }
}

@media screen and (max-width: 844px) {
  .nav__number {
    color: #fff;
  }
}