@import url(./nav.css);

@font-face {
  font-family: 'Yeseva One';
  src: url(../fonts/YesevaOne-Regular.ttf);
}

@font-face {
  font-family: 'Nunito Sans';
  src: url(../fonts/NunitoSans-Regular.ttf);
}

:root {
  --main-color: #e3b873;
}

body * {
  box-sizing: border-box;
  font-family: Nunito Sans;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1438px;
  margin: auto;
}

.title {
  font-family: Yeseva One;
  text-transform: uppercase;
  font-weight: normal;
}

.button {
  background: #e3b873;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.label {
  display: flex;
}

.label>input {
  display: none;
}

.label__fake::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 1px;
  background-color: #e3b873;
}

.label>input:checked+.label__fake::before {
  content: "";
  text-align: center;
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 1px;
  background-color: #e3b873;
  background-image: url("../images/control/svg/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 4px;
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  color: #ffffff;
}

.input::placeholder {
  color: #ffffff;
}

.turnkey {
  background-image: url("../images/turnkey/turnkey.jpg");
  background-size: cover;
  height: 707px;
}

.turnkey-black {
  background-color: rgba(0, 0, 0, 0.7);
  height: 707px;
}

.turnkey-conteiner {
  height: 707px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.turnkey-body {
  margin-left: 134px;
}

.turnkey__title {
  font-size: 40px;
  line-height: 53px;
  color: #ffffff;
  width: 50%;
}

.turnkey__title_gold {
  color: var(--main-color);
}

.turnkey__text {
  margin: 19px 0 0 0;
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  width: 50%;
}

.turnkey-buttons {
  margin: 40px 0 0 0;
}

.turnkey__button {
  width: 207px;
  height: 51px;
  background: rgba(0, 0, 0, 0.1);
  font-style: italic;
  font-size: 11px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.turnkey__button_right {
  margin-left: 20px;
}

.turnkey__button:hover {
  color: #ffffff;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  border-radius: 2px;
  border: 1px solid #e3b873;
}

@media screen and (max-width: 1024px) {
  .turnkey {
    height: 520px;
  }

  .turnkey-black {
    height: 520px;
  }

  .turnkey-conteiner {
    height: 520px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 844px) {
  .turnkey {
    height: 475px;
  }

  .turnkey-black {
    height: 476px;
  }

  .turnkey-conteiner {
    height: 476px;
    justify-content: center;
    align-items: center;
  }

  .turnkey-body {
    margin: auto;
  }

  .turnkey__title {
    font-size: 23px;
    text-align: left;
    margin: auto;
  }

  .turnkey__text {
    font-size: 14px;
    text-align: left;
    margin: auto;
  }

  .turnkey-buttons {
    margin: 20px auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .turnkey__button {
    width: 50%;
  }

  .turnkey__button_right {
    margin: 20px 0 0 0;
  }
}

@media screen and (max-width: 475px) {
  .turnkey__title {
    width: 90%;
    line-height: 35px;
    margin-bottom: 16px;
  }

  .turnkey__text {
    width: 90%;
    line-height: 25px;
    margin-bottom: 42px;
  }

  .turnkey__button {
    width: 90%;
  }
}

.projects {
  background: #131313;
  height: 1074px;
}

.projects-container {
  display: flex;
}

.projects-content {
  width: 45%;
  margin-top: 176px;
  margin-left: 134px;
}

.projects__title {
  font-style: normal;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  color: var(--main-color);
  max-width: 253px;
}

.projects__text {
  margin-top: 34px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  max-width: 442px;
}

.projects-info {
  margin-top: 10px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects-info__block {
  width: 50%;
}

.projects-info__title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--main-color);
  margin-top: 35px;
}

.projects-info__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: 10px;
}

.projects-arrows {
  max-width: 200px;
  margin-top: 85px;
  display: flex;
  justify-content: space-around;
}

.projects-arrows__arrow {
  cursor: pointer;
}

.projects-arrows__arrow:last-child {
  transform: rotate(180deg);
}

.projects-arrows__circle {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  cursor: pointer;
}

.projects-arrows__circle_active {
  background: #fff;
}

.projects-image {
  margin-top: 107px;
  width: 55%;
}

.projects-menu__list {
  max-width: 625px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.projects-menu__item {
  text-decoration: none;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.projects-menu__item:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid #e3b873;
  color: #e3b873;
}

.projects-menu__item_active {
  padding-bottom: 5px;
  border-bottom: 1px solid #e3b873;
  color: #e3b873;
}

.projects-picture {
  max-height: 482px;
  height: 100%;
  max-width: 679px;
  width: 100%;
  background-size: cover;

  transition: background 1s ease;
}

.projects-arrows_gold {
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 13px;
}

.projects-arrows_gold__item {
  height: 36px;
  width: 36px;
  background: #E3B873;
  border-radius: 100%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.projects-arrows_gold__item:last-child {
  transform: rotate(-180deg);
}

@media screen and (max-width: 1380px) {
  .projects-content {
    width: 35%;
    margin-top: 106px;
    margin-left: 74px;
  }
}

@media screen and (max-width: 1024px) {
  .projects-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .projects-content {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects__title {
    margin-top: 36px;

  }

  .projects-info {
    margin-top: 530px;
    max-width: 500px;
  }

  .projects-arrows {
    display: none;
  }

  .projects-menu__list {
    display: none;
  }

  .projects-image {
    margin-top: -700px;
    height: 482px;
  }

  .projects-arrows_gold {
    display: flex;
  }

  .projects-image {
    width: 90%;
  }

  .projects-picture {
    margin: auto;
  }

  .projects__title {
    text-align: center;
  }

  .projects__text {
    text-align: center;
  }
}

@media screen and (max-width: 724px) {
  .projects-picture {
    max-height: 330px;
    max-width: 480px;
  }

  .projects-image {
    margin-top: -540px;
  }

  .projects-info {
    margin-top: 400px;
    width: 90%;
  }

  .projects-info__text {
    max-width: 100px;
  }
}

@media screen and (max-width: 475px) {
  .projects-picture {
    max-height: 241px;
    max-width: 90%;
  }

  .projects-image {
    margin-top: -470px;
  }

  .projects-info {
    margin-top: 300px;
  }

  .projects-info {
    width: 80%;
  }

  .projects__text {
    max-width: 300px;
  }
}

.control {
  height: 1000px;
  margin-top: -300px;
}

.container-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 13px;
}

.control__camera::before {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  background-color: var(--main-color);
  position: relative;
  left: -40px;
  top: 15px;
}

.control__camera::after {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  background-color: var(--main-color);
  position: relative;
  left: 40px;
  top: -20px;
}

.control-wrapper {
  margin-top: 31px;
  width: 817px;
  height: 434px;
  position: relative;
}

.control__window {
  background-image: url(../images/control/window.jpg);
  background-size: cover;
  height: inherit;

}

.control__black {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.control__play {
  position: absolute;
  top: 35%;
  left: 40%;
}

.control__text {
  margin-top: 100px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;
  text-align: center;
  max-width: 681px;
  color: #363636;

}

.control__text::before {
  content: "";
  position: relative;
  left: 45%;
  margin-bottom: 35px;
  display: block;
  width: 55px;
  height: 1px;
  background-color: var(--main-color);
}

.control-form {
  margin-top: 90px;
}

.control-info {
  width: 800px;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.control-form__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

.control-form__input {
  display: block;
  width: 231px;
  border: 1px solid rgba(54, 54, 54, 0.3);
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
}

.control-form__button {
  height: 51px;
  width: 200px;
  font-size: 13px;
}

.control-label {
  margin: 39px auto;
  max-width: 300px;
}

.control-label__text {
  margin-left: 8px;
  font-size: 14px;
  color: #181818;
}

@media screen and (max-width: 1024px) {
  .control {
    height: 900px;
    margin-top: -85px;
  }

  .control-wrapper {
    margin-top: 50px;
    width: 600px;
    height: 300px;
  }

  .control__text {
    margin-top: 30px;
  }

  .control__play {
    width: 115px;
    height: 115px;
  }

  .control-info {
    width: 600px;
  }

  .control-form {
    margin-top: 10px;
  }

  .control-form__input {
    width: 100%;
  }

}

@media screen and (max-width: 724px) {
  .control {
    margin-top: -200px;
    background-color: #131313;
  }

  .control__text {
    color: #FFFFFF;
    max-width: 600px;
  }

  .control-form__text {
    color: rgba(255, 255, 255, 0.5);
  }

  .control-form__input {
    background-color: #131313;
    border-bottom: solid #fff 1px;
  }

  .control-form__input::placeholder {
    color: #FFFFFF;
  }

  .control-label__text {
    color: #fff;
  }
}

@media screen and (max-width: 630px) {

  .control-wrapper {
    width: 500px;
    height: 250px;
  }

  .control__title {
    font-size: 22px;
  }

  .control-wrapper {
    max-width: 380px;
    height: 208px;
  }

  .control__play {
    width: 65px;
    height: 65px;
  }

  .control__text {
    font-size: 11px;
    max-width: 350px;
    line-height: 169.8%;
  }

  .control-info {
    max-width: 300px;
    flex-direction: column;
    align-items: center;
  }

  .control-info__item {
    width: 90%;
    margin-top: 65px;
  }

  .control-info__item:last-child {
    margin-top: 155px;
    display: flex;
    justify-content: center;
  }

  .control-label {
    margin-top: -110px;
  }

  .control-form__button {
    width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .control-wrapper {
    max-width: 85%;
    height: 207px;
  }

  .control__text {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.types {
  margin-top: 150px;
  height: 1500px;
}

.container-types {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.types__title {
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #181818;
}

.types__icon {
  margin-top: 13px;
}

.types-wrapper {
  margin-top: 30px;
  width: 1300px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.types-wrapper__item {
  margin: 15px;
  Width: 392px;
  Height: 421px;
  position: relative;
  background-size: contain;
}

.types-wrapper__item:nth-child(1) {
  background-image: url(../images/types/one.jpg);
}

.types-wrapper__item:nth-child(2) {
  background-image: url(../images/types/two.jpg);
}

.types-wrapper__item:nth-child(3) {
  background-image: url(../images/types/thre.jpg);
}

.types-wrapper__repair {
  position: absolute;
  top: 295px;
  left: 30px;
  max-width: 330px;
  width: 100%;
  height: 286px;
  background: #FFFFFF;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types-wrapper__title {
  margin: 23px 0px 0px 34px;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: #363636;
}

.types-wrapper__list {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 27px;
  color: #959595;
  margin-left: 50px;
  margin-bottom: 23px;
}

.types-wrapper__options {
  width: 228px;
  height: 54px;
  background: #E3B873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  padding: 17px 21px;
  font-style: normal;
  line-height: 25px;
  color: #FFFFFF;
}

.types-wrapper__text {
  font-style: normal;
  font-size: 17px;
  line-height: 25px;
  color: #FFFFFF;
}

.types-connect {
  margin-top: 250px;
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
}

.types-home {
  position: absolute;
  background-image: url(../images//types/home.jpg);
  width: 703px;
  height: 645px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.types-home-wrapper {
  width: 49px;
  height: 49px;
  background: #E3B873;
  border: 8px solid #FFFFFF;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 30px;
  padding: 5px 6px;
  margin-right: 60%;
  position: relative;
}

.types-home__number {
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}

.types-home__text {
  position: absolute;
  top: 0;
  left: 40px;
  width: 365px;
}

.types-form {
  width: 506px;
  height: 509px;
  background-color: #131313;
  position: absolute;
  right: 100px;
  top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.types-form__title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  max-width: 250px;
  color: #FFFFFF;
}

.types-form__title_forSmall {
  display: none;
}

.types-form__label {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.types-form__label:nth-child(6) {
  flex-direction: row;
}

.types-form__info {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.types-form__text {
  margin-left: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}

.types-form__input {
  background-color: #131313;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  color: #FFFFFF;
}

.types-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #FFFFFF;
}

.types-form__button {
  width: 213px;
  height: 51px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  margin-left: 200px;
}

.types-pig {
  position: absolute;
  bottom: -30px;
  right: 260px;
  display: flex;
  align-items: center;
}

.types-pig__text {
  max-width: 220px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #E3B873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

@media screen and (max-width: 1290px) {
  .types-wrapper {
    width: 850px;
  }

  .types-home__text {
    max-width: 250px;
  }

  .types-wrapper__item:last-child {
    margin-top: 200px;
  }

  .types-home {
    align-items: start;
    margin-left: 50px;
  }

  .types-form {
    right: 50px;
  }

}

@media screen and (max-width: 1025px) {
  .types {
    margin-top: 0px;
  }

  .types-pig {
    right: 150px;
  }
}

@media screen and (max-width: 915px) {
  .types-home {
    display: none;
  }

  .types-connect {
    display: flex;
    justify-content: center;
  }

  .types-form {
    position: static;
    width: 100%;
    height: 509px;
  }

  .types-form__button {
    margin-left: 0;
  }
}


@media screen and (max-width: 915px) {
  .types-wrapper {
    width: 400px;
  }

  .types-wrapper__item {
    margin-bottom: 250px;
  }

  .types-wrapper__item:last-child {
    margin-top: 0;
  }

  .types-connect {
    display: none;
  }
}

@media screen and (max-width: 724px) {
  .types {
    margin-top: 50px;
  }
}

@media screen and (max-width: 630px) {
  .types-wrapper__repair {
    left: 0;
  }
}

@media screen and (max-width: 430px) {
  .types-wrapper__item {
    max-width: 340px;
    max-height: 365px;
    margin-bottom: 150px;
  }

  .types-wrapper__repair {
    max-width: 270px;
    max-height: 240px;
    top: 150px;
  }

  .types-wrapper__title {
    margin: 5px 0 0 5px;
  }

  .types-wrapper__list {
    margin-left: 25px;
    margin-bottom: 0;
  }

  .types-wrapper__options {
    padding: 10px 17px;
    max-width: 190px;
    height: 40px;
  }

  .types-wrapper__text {
    font-size: 15px;
  }
}

.fantasies {
  margin-top: 200px;
  height: 865px;
  background-image: url(../images/fantasies/image.jpg);
  background-size: cover;
}

.fantasies-black {
  height: 865px;
  background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.container-fantasies {
  display: flex;
}

.fantasies-content {
  padding: 137px 77px 97px 99px;
}

.fantasies__title {
  font-style: normal;
  font-size: 27px;
  line-height: 37px;
  color: #E3B873;
  margin-bottom: 47px;
}

.fantasies-content__item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  list-style-type: none;
  color: #FFFFFF;
  cursor: pointer;
  margin-bottom: 10px;
}

.fantasies-content__item_active {
  color: #E3B873;
}

.fantasies-content__item:hover {
  color: #E3B873;
}

.fantasies-images {
  display: flex;
  flex-wrap: wrap;
}

.fantasies-images_forSmall {
  display: none;
  height: 500px;
  width: 500px;
  background-size: cover;
  background-position: center;
  transition: background 1s ease;
}

.fantasies-images__item {
  margin: 22px;
  background-size: cover;
  background-position: center;
  transition: background 1s ease;
}

.fantasies-images__item:nth-child(1) {
  height: 557px;
  width: 354px;
  margin-top: -41px;
}

.fantasies-images__item:nth-child(2) {
  height: 275px;
  width: 354px;
  margin-top: -112px;
}

.fantasies-images__item:nth-child(3) {
  height: 349px;
  width: 354px;
  margin-top: 21px;
}

.fantasies-images__item:nth-child(4) {
  height: 624px;
  width: 354px;
  margin-top: -340px;
}

@media screen and (max-width: 1290px) {
  .fantasies {
    margin-top: 800px;
  }
}

@media screen and (max-width: 1266px) {
  .fantasies {
    margin-top: 700px;
  }


  .fantasies-images_gold {
    margin: 0 13px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container-fantasies {
    flex-direction: column;
  }

  .fantasies-content>ul {
    display: none;
  }

  .fantasies-images {
    display: none;
  }

  .fantasies-images_forSmall {
    display: block;
  }

  .container-fantasies {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}


@media screen and (max-width: 915px) {
  .fantasies {
    margin-top: 651px;
  }
}

@media screen and (max-width: 570px) {
  .fantasies {
    margin-top: 552px;
    background-image: none;
    height: 350px;
  }

  .fantasies-black {
    background: #fff;
    height: 600px;
  }

  .fantasies-content {
    padding: 0;
  }

  .fantasies__title {
    text-align: center;
    max-width: 340px;
    margin-bottom: 25px;
  }

  .fantasies-images_forSmall {
    position: relative;
    height: 242px;
    width: 340px;
    z-index: 1
  }
}


@media screen and (max-width: 430px) {
  .fantasies {
    margin-top: 50px;
  }
}

@media screen and (max-width: 380px) {
  .fantasies-images_forSmall {
    max-width: 90%;
  }
}

.clients {
  height: 1050px;
  margin-top: 110px;
}

.container-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients__title {
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #181818;
  margin-bottom: 13px;
}

.clients__hand::before {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  background: #E3B873;
  border-radius: 30px;
  position: relative;
  left: -38px;
  top: 16px;
}

.clients__hand::after {
  content: "";
  display: block;
  width: 32px;
  height: 1px;
  background: #E3B873;
  border-radius: 30px;
  position: relative;
  left: 40px;
  top: -21px;
}

.clients__text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #363636;
  max-width: 415px;
  margin-top: 24px;
}

.clients-people {
  max-width: 1200px;
  width: 100%;
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.clients-people__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  max-width: 376px;
  width: 100%;
  height: 428px;
}

.clients-people-block {
  width: 100%;
  margin-left: 35px;
  margin-top: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.clients-people-block__pic {
  border-radius: 100%;
}

.clients-people-block__name {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  max-width: 170px;
  margin-left: 25px;
}

.clients-people__text {
  max-width: 324px;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 180%;
  color: #959595;
}

.clients-people-value {
  background: #E3B873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  width: 293px;
  height: 54px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  bottom: -27px;
  left: -40px;
}

.clients-people-value__text {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #FFFFFF;
}

.clients-homes {
  background-image: url(../images/clients/city.jpg);
  width: 100%;
  height: 425px;
  opacity: 0.05;
}


@media screen and (max-width: 1260px) {
  .clients {
    height: 1680px;
  }

  .clients-people {
    max-width: 1100px;
    justify-content: center;
  }

  .clients-people__card {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 816px) {
  .clients {
    display: none;
  }
}

.location {
  background-image: url(../images/loacation/image.jpg);
  background-size: cover;
}

.location-black {
  background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
  height: 953px;
}

.container-location {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-form {
  position: absolute;
  top: -210px;
  width: 883px;
  height: 445px;
  background: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.location-form-block {
  display: flex;
  justify-content: space-between;
  max-width: 520px;
  width: 100%;
}

.location-form__label {
  display: flex;
  flex-direction: column
}

.location-form__info {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.location-form__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  background-color: #181818;
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  width: 231px;
  color: #FFFFFF;
}

.location-form>.location-form__label>input {
  width: 516px;
}

.location-form__input::placeholder {
  color: #FFFFFF;
}

.location-form>.location-form__label:last-of-type {
  flex-direction: row;
}

.location-form__button {
  width: 200px;
  height: 51px;
}

.location-form__title {
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.location__title {
  margin-top: 287px;
  max-width: 590px;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--main-color);
}

.location-social {
  margin-top: 26px;
  margin-bottom: 40px;
  max-width: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width: 960px) {
  .location-form {
    position: static;
    width: 100%;
  }

  .location-black {
    height: 1120px;
  }

  .location__title {
    margin-top: 50px;
  }

  .location__maps {
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .location-black {
    height: 1161px;
    background: #181818;
  }

  .location-form {
    padding-top: 150px;
    height: 600px;
    z-index: 0;
  }

  .location-form-block {
    height: 120px;
    width: 90%;
    flex-direction: column;
  }

  .location-form__input {
    width: 100%;
  }

  .location-form__label {
    width: 90%;
  }

  .location-form>.location-form__label>input {
    width: 90%;
  }

  .location__maps {
    height: 320px;
    position: relative;
    top: -200px;
  }

  .location__title {
    position: relative;
    top: 350px;
    padding: 0 10px;
  }

  .location-social {
    position: relative;
    top: 350px;
  }

  .location-form__button {
    width: 90%;
  }
}